apiVersion: v1
kind: Service
metadata:
  name: model-service
  namespace: default
  labels:
    app: model-service
spec:
  selector:
    app: model-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: ClusterIP
