apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
  namespace: ml-platform
  labels:
    app: gateway-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gateway-service
  template:
    metadata:
      labels:
        app: gateway-service
    spec:
      containers:
        - name: gateway-service
          image: 388691194728.dkr.ecr.us-east-1.amazonaws.com/cams-gateway-service:latest
          ports:
            - containerPort: 8000
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 15
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /ready
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          env:
            - name: ENV
              value: "dev"
            - name: MODEL_SERVICE_URL
              value: "http://model-service.default.svc.cluster.local"
            - name: DATA_SERVICE_URL
              value: "http://data-service.ml-platform.svc.cluster.local"
            - name: FRAUD_SERVICE_URL
              value: "http://fraud-service.ml-platform.svc.cluster.local"
            - name: RECOMMEND_SERVICE_URL
              value: "http://recommendations-service.ml-platform.svc.cluster.local"
            - name: FORECAST_SERVICE_URL
              value: "http://forecasting-service.ml-platform.svc.cluster.local"
