apiVersion: v1
kind: Service
metadata:
  name: data-service
  namespace: ml-platform
  labels:
    app: data-service
spec:
  selector:
    app: data-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: ClusterIP
